@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&f&display=swap');

:root 
{
    --main-bg: #F1F3F4;
    --chatbox-bg: #FFFFFF;
    --secondary-bg: #F3F4F6;
    --font: "JetBrains Mono"; 
    --txt-color: #1F2937;
    --txt-color-s: #7D7D7D;
    --txt-color-s-2: #2B2E48;
    --border-color: #E3E5E7;
    --txt-size: 0.875rem;
    --txt-size-s: 0.75rem;
    --hdr-w:320px;
    --hdr-h:36px;
    --chatbox-w:320px;
    --msg-w: 288px;
    --pad-xs: 4px;
    --pad-s: 8px;
    --pad-m: 10px;
    --pad-l: 12px;
    --pad-xl: 14px;
}
:root.dark {
    --main-bg: #141414;
    --chatbox-bg: #0F0F0F;
    --secondary-bg: #1A1A1A;
    --txt-color: #DBB2FF;
    --txt-color-s: #BFBFBF;
    --txt-color-s-2: #BB86FC;
    --border-color: #191D23;
}

.box-container 
{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    background-color: var(--chatbox-bg);
    font-family: var(--font), monospace;
    font-size: var(--txt-size);
    color: var(--txt-color);
    text-transform: uppercase;
}


.chat-header 
{

    background: var(--main-bg);
    width: var(--hdr-w);
    height: var(--hdr-h);
    padding: var(--pad-xl);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
}

.chat-container
{
    display:flex;
    flex-flow: column nowrap;
    width:var(--chatbox-w);
    flex-grow: 1;
    padding:var(--pad-xl) var(--pad-m);
    gap:var(--pad-m);
    border:1px solid var(--main-bg);
    overflow-y: hidden;
    overflow-x: hidden;
}

.message-box
{
    display:flex;
    flex-flow:column nowrap;
    padding: var(--pad-xs);
    animation: slideIn 0.3s ease-out;
}
.removing{
    animation: slideOut 0.5s ease-in;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-15px);
    }
  }

.username {
    padding: var(--pad-xs);
    font-size: var(--txt-size-s);
    font-weight: 700;
    color: var(--txt-color-s-2);
    letter-spacing: 0.025em;
}
.message{
    background: var(--secondary-bg);
    width: var(--msg-w);
    padding: var(--pad-l);
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: anywhere;
    color: var(--txt-color-s);
    
}
